      body{
        background-color: #FCFBFB;
        }
      .table{
        background-color: #0A0302;
      }

      a{
        color:#FFFFFF;
        font-family: Arial;
        font-size: 20px;
      }
      a:link, a:visited {
        background-color: #0A0302;
        color: FFFFFF;
        padding: 14px 25px;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
      }
      a:hover {
        color: #FFFFFF;
        background-color:grey ;
      }
    .footer {
        position:absolute;
        bottom:0;
        width:100%;
      }